body{
    background-color: #f0f8ff;
}


/* Selector */
h1{
    color: #333333;
    font-size: 80px;
    text-align: center;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color:white;
}

h2{
    color: #333333;
}


h3{
    color: #333333;
    font-size: 40px;
    text-align: center;
}


p{
    color: #333333;
    font-size: 20px;
}



/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar{
    /* width: 100%; */
    position: fixed;
    display: block;
    text-decoration:none;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    overflow: hidden;
    position:fixed;
    top: 0  ;
    width: 100%;
    background-color: #333333;
    margin: 0px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
}

/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 10px;
    
}


/* Style rule set for individual li link */
.navbar ul li a {
    font-family: Arial;
    color:black;
    font-size: 16px;
    text-decoration: none;
    color: #f0f8ff;
    display: flex;

}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
}


/* Add style to button */
#theme-button{

}

/* Customize Dark Mode Theme */
.dark-mode{
    background-color: #1a1a1a;
}





/* Header */
.header-container{

    display: flex;

    padding-top: 40px;
    padding-left: 0px;

    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

}

#header-img{
    height: 480px;
    border-radius: 50%;

}

.header-item:nth-of-type(1){
    /* width: 20%; */
    padding-top: 70px;
    margin-left: 60px;
}


.header-item:nth-of-type(2){
    text-align: center;
    margin-right:100px
}

.header-item:nth-of-type(2) h1{
    margin-bottom: 0px;
    font-size: 110px;
}

.header-item:nth-of-type(2) p{
    margin-top: 0px;
}


.header-button{
    width: 230px;
    height:50px;
    background-color: white;
    color: #333333;
    font-size: 20px;
    cursor: pointer;

}




/* About */
#about{

}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-container h2{
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 50px;
}
.about-container iframe{
    width: 860px;
    height:515px;
}
.about-container p{
    width: 860px;
    font-size: 28px;
}



/* Impact */
.impact-container{
}

.impact-container-item{
    display: flex;
    flex-direction: row;
}
.impact-container-item:nth-child(1){
    text-align: center;
}
.impact-content-container img{
    width: 320px;
}
.impact-content-container h3{
    font-size: 28px;
    margin-bottom: 18px;
}

.impact-content-container p{
    font-size: 20px;
    margin-top: 1px;
}
.impact-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* <!-- Petition --> */
.petition h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.petition-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
    align-items: flex-start;
}

.petition-container .top-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.petition-para{
    width: 55%;
    padding-right: 10px;
}

.signatures{
    /* width: 45%; */
    padding-right: 10px;
    margin-left: 100px;
}

.petition-container form{
    width: 100%;
}

#sign-petition input{
    /* display: block; */
    margin-right: 10px;
}
#sign-now-button{
    text-align: left;
}

/* form error */
.error{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background: pink;
}


/* animation */


.revealable {
    position: relative;
    transform: translateY(150px); 
    opacity: 0;
    transition: all 2s ease;
    z-index: 0;
  }

.active{
    opacity: 1;
    transform: translateY(0px);
    z-index: 0;
}


/* modal */
.modal {
    display: none; /* hides the modal from view by default*/
    position: fixed; /* keeps the modal in one place */
    z-index: 2; /* positions the modal on top of all other elements on the screen */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
    flex-direction: column; /* these flexbox rules center the content on the screen */
    align-items: center;
    justify-content: center;
  }

/* box that contains all the content and images */
.modal-content {
    background-color: lightsteelblue; /* update the colors and font sizes as you like */
    color: black;
    text-align: center;
    font-size: 3rem;
    display: flex; /* adds flexbox to center all items */
    justify-content: center;
    align-items: center;
  }
.modal-content  img{
    width: 300px;
}

  #thanks-modal-content {
    width: 20rem; /* sets a default width for the text container */
  }
  
  #modal-text-container {
    display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


/* Footer */

.footer-container{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d4e4f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.footer-text{

    background-color: #d4e4f8;
    text-align: center;
    margin: 5px;

}




/* Pseudo-Classes */
a:link{
    color: black;
}
a:visited{
    color:blue;
}
a:hover{
    color:red;
}
a:active{
    color: green;
}